<?xml version="1.0" encoding="utf-8"?>
<configuration>
	 <appSettings>
		<add key="TCP_PORT" value="50510"/>
		<add key="HTTP_PORT" value="50511"/>
		<add key="pathfileconflog4net" value="C:\DEV\Ribes\Servizi\ServizioMotoreOSAP\bin\Debug\log4net.xml"/>
	 </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
